*.log
.DS_Store
.idea/*
.rvmrc
tmp
public/media/*
public/wechat_media
config/redis.yml
config/settings.yml
config/database.yml
config/rabbitmq.yml
config/gatekeeperizer.yml
config/aws_key.yml
config/accountable.yml
config/sidekiq.yml
config/event_subscriber.yml
config/s3_config.yml
config/diagnostic_config.yml
config/sw_test_accounts.yml
db/development.db
db/test.db
log/*
coverage/*

node_modules
.env
